<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= @widget_name %></title>
	<%= javascript_include_tag("/extjs/adapter/ext/ext-base.js", "/extjs/ext-all-debug.js") %>
	<%= javascript_include_tag("/netzke/netzke.js") %>
	<%= stylesheet_link_tag("/extjs/resources/css/ext-all.css") %>
</head>
<body id="">
<%= yield %>	
</body>